body {
  font-family: verdana;
  background-color: orange;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 95%;
  padding: 10px;
}
table, td, th {
  border: 1px solid black;
}
th {
  height: 50px;
}
.table1 {
  background-color: grey;
  width: 80%;
  margin: 0 auto;
}
.table2 {
  background-color: blueviolet;
  width: 80%;
  margin: 0 auto;
}
.table3 {
  background-color: palevioletred;
  width: 80%;
  margin: 0 auto;
}
h2 {
  background-color: black;
  color: white;
  text-align: center;
}
h1 {
  text-align: center;
  border: 5px solid black;
  padding: 20px 30px;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
}
p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}